@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap");
* {
  font-family: "Raleway", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #222;
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  font-size: 120%;
}

.card {
  background: #a16eed;
  color: rgb(0, 0, 0);
  padding: 2em;
  border-radius: 30px;
  width: 460px;
  margin: 1em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

#search1 {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: whitesmoke;
  color: black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#search1:hover {
  transform: scale(1.1);
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: white;
  color: black;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}
.search-bar ::placeholder {
  color: white;
}

h1.temp {
  margin: -1.5rem;
  margin-bottom: 0.4em;
}

.flex {
  position: relative;
  left: 170px;
  display: flex;
  align-items: center;
  margin-top: -1rem;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading";
  color: rgb(0, 0, 0);
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 210px;
}
.weather {
  text-align: center;
}

.cssbuttons-io-button {
  background: #a370f0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

#location {
  position: absolute;
  bottom: 80px;
  left: 120px;
}
::placeholder {
  color: rgb(0, 0, 0);
  opacity: 1;
}
#text {
  margin: -3rem;
  background: black;
  color: white;
  text-align: center;
  height: 4rem;
  width: 33.55rem;
  position: relative;
  top: -3.6rem;
  left: 0.6rem;
}
#text h3 {
  font-size: 2.2rem;
  position: relative;
  top: 0.6rem;
}
@media screen and (max-width: 750px) {
  #h11 {
    position: relative;
    top: -179px;
    left: 218px;
    font-size: 42px;
  }
  .card {
    width: 400px;
    position: relative;
    left: -75px;
    bottom: -115px;
  }
  #location {
    position: relative;
    bottom: -121px;
    left: -62px;
  }
  .flex {
    position: relative;
    bottom: -11px;
    left: 56px;
  }
}
